header {
  padding: 0.8em 2em;
  text-align: center;
  background-color: #372a5f7e;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  color: var(--txt-white);
}

header h2 {
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  margin-block: 0;
  cursor: pointer;
}
.logout-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
